$size: 30px;
$color: orange;

@mixin shape($shape) {
  @if $shape == square {
    //top: $size * 1.5;
    width: $size;
    height: $size;
    background: $color;
  }
  
  @if $shape == circle {
    //top: $size * 1.5;
    width: $size;
    height: $size;
    border-radius: $size / 2;
    background: $color;
  }
}

#spirograph {
  // width: $size;
  // margin: 0 auto;
}

[class^="chip"] {
  // position: absolute;
  @include shape(square);
  @include origin(top, left);
  // opacity: .5;
}

@for $i from 1 through 15 {
  .chip#{$i} {
    @include rotate(360deg / 15 * ($i - 1));
  }
}
