!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8 ie7" lang="en">
/[if IE 8] <html class="no-js lt-ie9 ie8" lang="en">
/[if IE 9] <html class="no-js ie9" lang="en">
<!--[if gt IE 9]><!-->
%html.no-js{lang: 'en'}<>
  <!--<![endif]-->
  %head
    %meta{charset: 'utf-8'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/app.css'}
    %script{:src => 'https://code.jquery.com/jquery-2.1.1.min.js'}
    :javascript
      function foo($el) {
        var borders = ['top', 'right', 'bottom', 'left'];
        var colours = ['red', 'yellow', 'orange', 'green', 'blue', 'black', 'purple', 'grey'];

        var border = borders[parseInt(Math.random() * borders.length)];
        var colour = colours[parseInt(Math.random() * colours.length)];

        $($el).css('border-' + border + '-color', colour);
        $($el).css('border-' + border + '-width', Math.random() * 200);
        $($el).css('border-radius', parseInt(Math.random() * 40) + '%');
        $($el).css('margin-left', parseInt(Math.random() * 800) + 'px');
        $($el).css('transform', 'rotate(' + parseInt(Math.random() * 360) + 'deg)');
      }

      function bar() {
        var triangles = $('.triangle');
        foo($(triangles[parseInt(Math.random() * triangles.length)]))
      }

      function go() {
        setInterval(bar, 60);
      }

      setTimeout(go, 1000);

    %title Sass Demo Boilerplate

  %body
    = yield

    /= haml :'spirograph'
